<form [formGroup]="form">
  <app-input-field
    formControlName="link"
    label="Sosyal Medya Linki"
    type="url"
    appValidMessage="Geçerli bir URL girin"
    validType="url"
  ></app-input-field>

  <app-input-field
    formControlName="name"
    label="Sosyal Medya Adı"
    type="text"
    appValidMessage="Sosyal Medya adı boş olamaz"
    validType="required"
  ></app-input-field>

  <app-input-field
    formControlName="description"
    label="Açıklama"
    type="text"
    appValidMessage="Açıklama boş olamaz"
    validType="required"
  ></app-input-field>

  <div class="buttons">
    <app-buttons
      buttonType="cancel"
      label="Vazgeç"
      class="cancel-button"
      (buttonClick)="onCancelClick()"
    ></app-buttons>

    <app-buttons
      [buttonType]="action === 'update' ? 'update' : 'save'"
      [label]="action === 'save' ? 'Kaydet' : 'Güncelle'"
      [class]="action === 'update' ? 'update-button' : 'save-button'"
      (buttonClick)="onSaveClick()"
    ></app-buttons>
  </div>
</form>
