.input-field {
    .form-label {
        font-weight: 500;
        font-size: 13px;
        color: #000;
    }

    .form-control{
        width: 424px;
        height: 40px;
        border-radius: 38px;
        border: 1px solid #D9D9D9;
    }
}