.modal {
    display: block; /* Modalı her zaman gösterir, ama isVisible kontrolü ile yönetilir */
    background-color: rgba(0, 0, 0, 0.5); /* Arka planı koyu yapar */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content {
        padding: 20px;

        .modal-header {
            border: none;
        }
    }
  }