<router-outlet></router-outlet>

<app-buttons buttonType="save" label="Kaydet" class="save-button" (buttonClick)="onSaveClick()"></app-buttons>
<app-buttons buttonType="cancel" label="Vazgeç" class="cancel-button"
(buttonClick)="onCancelClick()"></app-buttons>
<app-buttons buttonType="add" label="Yeni Hesap Ekle" class="add-button" icon="fa fa-plus" (buttonClick)="onAddClick()"></app-buttons>

<app-input-field label="Sosyal Medya Linki" placeholder="Link girin" type="url"></app-input-field>
<app-input-field label="Sosyal Medya Adı" placeholder="Link adı girin" type="text"></app-input-field>
<app-input-field label="Açıklama" placeholder="Link adı girin" type="text"></app-input-field>


<app-icon iconClass="fa-brands fa-square-youtube"></app-icon>
<app-icon iconClass="fa-brands fa-square-instagram"></app-icon>
<app-icon iconClass="fa-brands fa-brands fa-square-behance"></app-icon>
<app-icon iconClass="fa-brands fa-linkedin"></app-icon>

<app-text text="Hakkımızda"></app-text>

<app-heading text="Jüri"></app-heading>
