.container-table {
  margin: 0px 30px 0;

  .search-button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin: 20px 40px 0px 20px; 
  
    .search {
      display: flex;
      align-items: center;
        justify-content: flex-start;
      float: left;
      gap: 10px;
      margin-top: 40px;
  
      .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 49px;
        height: 42px;
        border-radius: 50%;
        background-color: #fff; 
        margin-bottom: 12px;
      }
    }
  
    .button {
      display: flex;
      align-items: center;
      margin-top: 30px;
    }
  }
  
  @media (max-width: 768px) {
    .search-button-group {
      flex-direction: column; 
      align-items: stretch; 
      margin-top: 10px; 
    }
  
    .search, .button {
      width: 100%;
      margin-bottom: 10px; 
    }
  
    .button {
      margin-bottom: 0;
    }
  
    .icon-container {
        width: 30px;
        height: 30px;
      }
  }
  
  .container {
      text-align: left;
      overflow: hidden;
      width: 100%;
      margin: 0 auto;
      display: table;
      border-radius: 8px;
      border: 1px solid #C4CEE5;

      .icon {
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 20px;
       
       app-buttons {
        background-color: #744BFC;
        color: #FFF;
        gap: 10px;
        color: #fff;
       }
      }
  
      thead,
      tbody tr,
      th,
      td {
          border: 1px solid #C4CEE5;
          text-align:left;
      }
  
      tr {
          &:nth-child(odd) {
              background: #fff;
          }
  
          &:nth-child(even) {
              background: linear-gradient(180deg, #EFF2FF -30.56%, rgba(232, 236, 255, 0) 135.85%);
          }
      }
      }
  }
  
  .container td,
  .container th {
      padding-bottom: 1%;
      padding-top: 1%;
      padding-left: 1%;
  }
  




