<table class="container">
  <thead>
    <tr>
      <th scope="col">
        <app-text text="Sosyal Medya Link"></app-text>
      </th>
      <th scope="col">
        <app-text text="Sosyal Medya Adı"></app-text>
      </th>
      <th scope="col">
        <app-text text="Açıklama"></app-text>
      </th>
      <th scope="col">
        <app-text text="İşlemler"></app-text>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
      <td>mdo</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>fat</td>
      <td>fat</td>
    </tr>
    <tr>
      <td>Larry the Bird</td>
      <td>twitter</td>
      <td>fat</td>
      <td>fat</td>
    </tr>
    <tr>
        <td>Larry the Bird</td>
        <td>twitter</td>
        <td>fat</td>
        <td>fat</td>
      </tr>
      <tr>
        <td>Larry the Bird</td>
        <td>twitter</td>
        <td>fat</td>
        <td>fat</td>
      </tr>

  </tbody>
  
</table>
<app-pagination></app-pagination>
