<table class="container">
  <thead>
    <tr>
      <th scope="col">
        <app-text text="Sosyal Medya Link"></app-text>
      </th>
      <th scope="col">
        <app-text text="Sosyal Medya Adı"></app-text>
      </th>
      <th scope="col">
        <app-text text="Açıklama"></app-text>
      </th>
      <th scope="col">
        <app-text text="İşlemler"></app-text>
      </th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let social of socials | filterPipe: search">
      <td>{{social.link}}</td>
      <td>{{social.name}}</td>
      <td>{{social.description}}</td> -->
      <!-- <td>
        <button (click)="get(social)" data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-outline-warning btn-sm mx-1">
          <i class="fa fa-edit"></i>
        </button>
        <button (click)="removeById(social)" class="btn btn-outline-danger btn-sm">
          <i class="fa fa-trash"></i>
        </button>
      </td> -->
    <!-- </tr> -->
  </tbody>
</table>
<app-pagination></app-pagination>
