
@use '@angular/material' as mat;

@include mat.core();

// Define the theme object.
$frontend-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      )));

:root {
  @include mat.all-component-themes($frontend-theme);
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}