<button [ngClass]="{
    'cancel-button': buttonType === 'cancel',
    'save-button': buttonType === 'save',
    'add-button': buttonType === 'add'
}"
(click)="handleClick()"
>

<ng-container *ngIf="icon">
<i class="{{icon}}"></i>
</ng-container>
{{label}}
</button>

<!-- Button Test  -->
 <!-- 
<app-buttons buttonType="save" label="Kaydet" class="save-button" (buttonClick)="onSaveClick()"></app-buttons>
<app-buttons buttonType="cancel" label="Vazgeç" class="cancel-button"
(buttonClick)="onCancelClick()"></app-buttons>
<app-buttons buttonType="add" label="Yeni Hesap Ekle" class="add-button" icon="fa fa-plus" (buttonClick)="onAddClick()"></app-buttons>
 -->